    /* Global styles */
    body {
      margin: 0;
      font-family: KellySlab, sans-serif;
      background-color: #111; /* Dark background color */
      color: #fff; /* Text color for light mode */
    }



    /* Header styles */
    header {
      padding: 20px;
      text-align: center;
      font-family: KellySlab, sans-serif;
    }

    /* Footer styles */
    footer {
      padding: 10px;
      text-align: center; 
      background-color: #222; /* Footer background color in dark mode */
    }

    .container {
      width: 100%;
      height: 100%;
      --color: rgba(114, 114, 114, 0.3);
      background-color: #191a1a;
      background-image: linear-gradient(
          0deg,
          transparent 24%,
          var(--color) 25%,
          var(--color) 26%,
          transparent 27%,
          transparent 74%,
          var(--color) 75%,
          var(--color) 76%,
          transparent 77%,
          transparent
        ),
        linear-gradient(
          90deg,
          transparent 24%,
          var(--color) 25%,
          var(--color) 26%,
          transparent 27%,
          transparent 74%,
          var(--color) 75%,
          var(--color) 76%,
          transparent 77%,
          transparent
        );
      background-size: 55px 55px;
    }

    .navbar {
      background-color: #000000;
      display: flex;
      align-items: center;
      
      height: 70px;
      
      position: fixed; /* Make the navigation bar fixed */
      top: 0; /* Stick it to the top of the page */
      width: 100%; /* Full width */
      z-index: 999;
      left: 0; /* Ensure it's above other elements */
      
    }

    /* Rest of your CSS styles */

    .logo img {
      max-height: 50px; /* Adjust the height as needed */
      margin-left: 20px;

    }


    /* App.css */

    /* App.css */
    /* App.css */

    .mascots {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      height: 500px;
      
      
    }
    .obcy-head img {
      height: 400px;
      width: auto;
      /* Set the max-width property */
      /* Adjust the margin-top as needed */
    }
    

    .mascot {
      position: relative;
      transition: transform 2s; /* Add a smooth transition effect */
    }

    .mascot:hover {
      
      transform: scale(1.1); /* Increase the size when hovering */
      margin-left: 10px;
      margin-right: 5px;
    }

    .mascot img {
      max-width: 350px; /* Adjust the size as needed */
    }

    .mascots h2 {
      text-align: center;
    }

    .explanation {
      text-align: center;
      margin-top: 10px;
      display: none; /* Initially hide the explanations */
    }

    .mascot:hover .explanation {
      display: block; /* Show the explanation on hover */
    }

    .event-posters {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
      padding: 20px;
      
    }

    .poster {
      width: calc(33% - 20px); /* 30% width with a 20px gap between posters */
      border: 2px ;
      max-width: 100%;
      height: auto;
      cursor: pointer;
      margin-bottom: 10px;
      background-color: transparent;
      border-radius: 20px;
      overflow: hidden;
      
    }

    .poster img {
      max-width: 100%; /* Ensure the posters fit within their frames */
      display: block;
    }

    .poster h3 {
      text-align: center;
     
    }

    /* Add this CSS to your App.css file */

    .event-details-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
      overflow-y: auto; /* Add scroll property to enable scrolling */
    }

    /* Add this CSS to your App.css file */

    .event-details {
      background: #000;
      padding: 20px;
      max-width: 40%;
      text-align: center;
      display: flex;
      flex-direction: column; /* Arrange elements vertically */
      align-items: center; /* Center elements horizontally */
      border: 3px solid #616161; /* Add a border for the frame effect */
      border-radius: 10px; /* Add rounded corners for the frame */
      overflow-y: auto; /* Add scroll property to enable scrolling within the container */
      max-height: 90%;
    }

    .event-poster {
      max-width: 100%; /* Adjust the percentage as needed to control the size */
      height: auto; /* Maintain the aspect ratio */
      margin-bottom: 10px; /* Add spacing between the poster and title */
    }

    h2 {
      margin: 10px 0; /* Adjust spacing around the title */
    }

    .event-details p {
      text-align: justify;
      margin: 10px 0; /* Adjust spacing around the description */
    }

    .register-button {
      background: #ff5722;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      margin-top: 10px; /* Add spacing above the "Close" button */
    }

    ::-webkit-scrollbar {
      width: 12px; /* Adjust the width as needed */
    }

    /* Customize the scrollbar thumb */
    ::-webkit-scrollbar-thumb {
      background-color: #6e6e6e; /* Scrollbar thumb color */
      border-radius: 10px; /* Rounded corners for the thumb */
    }

    /* Customize the scrollbar track on hover */
    ::-webkit-scrollbar-thumb:hover {
      background-color: #6e6e6ebc; /* Change color on hover */
    }

    /* Customize the scrollbar track background */
    ::-webkit-scrollbar-track {
      background-color: #fff; /* Scrollbar track background color */
      border-radius: 10px; /* Rounded corners for the track */
    }

    .poster-container {
      display: flex;
      /* Other styles for the Poster container */
    }

    /* Add this CSS to your App.css file */

    /* Styles for screens with a maximum width of 768px (typical for mobile phones) */
    @media (max-width: 768px) {
      .mascots {
        flex-direction: column; /* Stack mascots vertically */
        align-items: center; /* Center mascots horizontally */
        height: auto; /* Remove fixed height to allow content to adjust */
      }

      .mascot {
        margin: 10px 0; /* Add spacing between mascots */
      }

      .mascot:hover {
        transform: none; /* Remove hover effect on mobile */
      }

      .explanation {
        display: block; /* Always show explanations on mobile */
      }
      .event-posters {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        padding: 20px;
      }
      .poster {
        width:100%; /* 30% width with a 20px gap between posters */
        border: 2px solid #616161;
        max-width: 100%;
        height: auto;
        cursor: pointer;
        margin-bottom: 10px;
        background-color: #000;
      }
      .event-details {
      background: #000;
      padding: 20px;
      max-width: 90%;
      text-align: center;
      display: flex;
      flex-direction: column; /* Arrange elements vertically */
      align-items: center; /* Center elements horizontally */
      border: 3px solid #616161; /* Add a border for the frame effect */
      border-radius: 10px; /* Add rounded corners for the frame */
      overflow-y: auto; /* Add scroll property to enable scrolling within the container */
      max-height: 90%;
      }
      .obcy-head img {
        height: auto;
        width: auto;
        max-width: 100%; /* Set the max-width property */
        margin-left: 5%;
        margin-bottom: -20%;
        /* Adjust the margin-top as needed */
      }
      

    }

    .mascot-introduction {
      text-align: center;
      padding: 20px;
    }

    .mascot-introduction h2 {
      margin: 0;
      font-size: 40px;
      color: #fff;
    }

    .mascot-introduction p {
      font-size: 30px;
      color: #ccc;
    }

    header h1 {
      font-size: 60px;
    }

    .events-intro {
      text-align: center;
      padding: 20px;
    }

    .events-intro h2 {
      margin: 0;
      font-size: 40px;
      color: #fff;
    }

    .events-intro p {
      font-size: 30px;
      color: #ccc;
    }



    .sponsors {
      text-align: center;
      padding: 20px;
    }

    .sponsors h2 {
      margin: 0;
      font-size: 40px;
      color: #fff;
    }

    .sponsors p {
      font-size: 30px;
      color: #ccc;
    }


    @font-face {
      font-family: "KellySlab";
      src: url("./assets/fonts/KellySlab-Regular.ttf") format("truetype");
    }

    .body-no-scroll {
      overflow: hidden;
    }

    .close-button {
      position: absolute;
      top: 18px;
      right: 18px;
      background: none;
      border: none;
      font-size: 50px;
      line-height: 1;
      cursor: pointer;
      color: #fff;
    }

    .close-button:hover {
      color: #ff5722; /* Change color on hover (you can customize this) */
    }

    .registration-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
      overflow-y: auto;
    }

    .registration-form {
      background: #000;
      padding: 20px;
      width: 80%;

      text-align: center;
      display: flex;
      flex-direction: column; /* Arrange elements vertically */
      align-items: center; /* Center elements horizontally */
      border: 3px solid #616161; /* Add a border for the frame effect */
      border-radius: 10px; /* Add rounded corners for the frame */
      overflow-y: auto; /* Add scroll property to enable scrolling within the container */
      max-height: 90%;
    }

    .form__group {
      position: relative;
      padding: 20px 0 0;
      width: 100%;
      max-width: 500px;
    }

    .form__field {
      font-family: inherit;
      width: 100%;
      border: none;
      border-bottom: 2px solid #9b9b9b;
      outline: 0;
      font-size: 17px;
      color: #fff;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
    }

    .form__field::placeholder {
      color: transparent;
    }

    .form__field:placeholder-shown ~ .form__label {
      font-size: 17px;
      cursor: text;
      top: 20px;
    }

    .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 17px;
      color: #9b9b9b;
      pointer-events: none;
    }

    .form__field:focus {
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(to right, #116399, #38caef);
      border-image-slice: 1;
    }

    .form__field:focus ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 17px;
      color: #38caef;
      font-weight: 700;
    }

    /* reset input */
    .form__field:required,
    .form__field:invalid {
      box-shadow: none;
    }

    .register-button {
      position: relative;
      padding: 10px 20px;
      border-radius: 24px;
      border: 1px solid #116399;
      font-size: 14px;
      text-transform: uppercase;
      font-family: KellySlab;
      font-weight: 600;
      letter-spacing: 2px;
      background: transparent;
      color: #fff;
      overflow: hidden;
      box-shadow: 0 0 0 0 transparent;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }

    .register-button:hover {
      background: #38caef;
      box-shadow: 0 0 30px 5px #38caefcb;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }

    .register-button::before {
      -webkit-animation: sh02 0.5s 0s linear;
      -moz-animation: sh02 0.5s 0s linear;
      animation: sh02 0.5s 0s linear;
    }

    .register-button::before {
      content: "";
      display: block;
      width: 0px;
      height: 86%;
      position: absolute;
      top: 7%;
      left: 0%;
      opacity: 0;
      background: #fff;
      box-shadow: 0 0 50px 30px #fff;
      -webkit-transform: skewX(-20deg);
      -moz-transform: skewX(-20deg);
      -ms-transform: skewX(-20deg);
      -o-transform: skewX(-20deg);
      transform: skewX(-20deg);
    }

    @keyframes sh02 {
      from {
        opacity: 0;
        left: 0%;
      }

      50% {
        opacity: 1;
      }

      to {
        opacity: 0;
        left: 100%;
      }
    }

    .register-button:active {
      box-shadow: 0 0 0 0 transparent;
      -webkit-transition: box-shadow 0.2s ease-in;
      -moz-transition: box-shadow 0.2s ease-in;
      transition: box-shadow 0.2s ease-in;
    }


    .loading-screen {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #111; /* Dark background color */
      color: #fff; /* Text color for light mode */
      font-size: 40px;
      font-family: KellySlab, sans-serif;
      
    }

    /*.loading-screen {
      position: relative;
      padding: 10px 20px;
      border-radius: 7px;
      border: 1px solid #116399;
      font-size: 14px;
      text-transform: uppercase;
      font-family: KellySlab;
      font-weight: 600;
      letter-spacing: 2px;
      background: transparent;
      color: #fff;
      overflow: hidden;
      box-shadow: 0 0 0 0 transparent;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }*/

    /*.loading-screen:hover {
      background: #38caef;
      box-shadow: 0 0 30px 5px #38caefcb;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }*/

    .loading-screen::before {
      -webkit-animation: sh02 0.5s 0s linear;
      -moz-animation: sh02 0.5s 0s linear;
      animation: sh02 0.5s 0s linear;
    }

    .loading-screen::before {
      content: "";
      display: block;
      width: 0px;
      height: 86%;
      position: absolute;
      top: 7%;
      left: 0%;
      opacity: 0;
      background: #fff;
      box-shadow: 0 0 50px 30px #fff;
      -webkit-transform: skewX(-20deg);
      -moz-transform: skewX(-20deg);
      -ms-transform: skewX(-20deg);
      -o-transform: skewX(-20deg);
      transform: skewX(-20deg);
    }

    @keyframes sh02 {
      from {
        opacity: 0;
        left: 0%;
      }

      50% {
        opacity: 1;
      }

      to {
        opacity: 0;
        left: 100%;
      }
    }

    .loading-screen:active {
      box-shadow: 0 0 0 0 transparent;
      -webkit-transition: box-shadow 0.2s ease-in;
      -moz-transition: box-shadow 0.2s ease-in;
      transition: box-shadow 0.2s ease-in;
    }

    .logoimg {
      max-height: 10px;
    }

    .register-button1 {
      position: relative;
      padding: 10px 20px;
      border-radius: 24px;
      border: 1px solid #116399;
      font-size: 14px;
      text-transform: uppercase;
      font-family: KellySlab;
      font-weight: 600;
      letter-spacing: 2px;
      background: transparent;
      color: #fff;
      overflow: hidden;
      box-shadow: 0 0 0 0 transparent;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }

    .register-button1:hover {
      background: #38caef;
      box-shadow: 0 0 30px 5px #38caefcb;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }

    .register-button1::before {
      -webkit-animation: sh02 0.5s 0s linear;
      -moz-animation: sh02 0.5s 0s linear;
      animation: sh02 0.5s 0s linear;
    }

    .register-button1::before {
      content: "";
      display: block;
      width: 0px;
      height: 86%;
      position: absolute;
      top: 7%;
      left: 0%;
      opacity: 0;
      background: #fff;
      box-shadow: 0 0 50px 30px #fff;
      -webkit-transform: skewX(-20deg);
      -moz-transform: skewX(-20deg);
      -ms-transform: skewX(-20deg);
      -o-transform: skewX(-20deg);
      transform: skewX(-20deg);
    }

    .common p{
      text-align: right;
      color:#38caef;
    }

    .sponsorclass img{
      height:200px;
      max-width:auto;
    }
    .partnerclass img{
height:400px;
max-width:ato;
    }
    .sponsorclass h2{
      font-size: 40px;
    }
  